{% extends '@App/base.html.twig' %}

{% block content %}
    <h1>{{ categoryItem.title }}</h1>

    <div class="product-list">
{% for productItem in productList %}
{% include '@App/Product/product.html.twig' with {productItem: productItem} %}
{% endfor %}
        <div class="clear"></div>
    </div>
{% endblock %}