<script type="text/javascript">
    function toggle_menu(item) {
        if ($(item).hasClass('selected')) {
            $(item).removeClass('selected');
            $(item).next().hide(400);
        } else {
            $(item).siblings().removeClass('selected');
            $(item).parent().find('div').hide(400);
            $(item).addClass('selected');
            $(item).next().show(400);
        }
    }
</script>
{% for categoryItem in categoryList %}
{% set isCurrent = currentCategory and (currentCategory.category == categoryItem) %}
<a href="" onclick="toggle_menu(this); return false;"{% if isCurrent %} class="selected"{% endif %}>{{ categoryItem.shortTitle }}</a>
{% if categoryItem.categories %}
<div style="display: {% if isCurrent %} block{% else %}none{% endif %}">
    {% for subCategoryItem in categoryItem.categories %}
        <a href="{{ path('categoryItem', {categoryName: subCategoryItem.name}) }}" class="submenu">{{ subCategoryItem.shortTitle }}</a>
    {% endfor %}
</div>
{% endif %}
{% endfor %}
